<html>

<head>

  <meta charset="utf-8">
  <title>UW IoT Lab3</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css')}}">
  <script src="{{url_for('static',filename='js/jquery-3.1.1.min.js')}}" </script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"
  </script>
</head>

<body>


  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>
    //start executing only after document has loaded
  $(document).ready(function() {
      //establish global variables for LED status
      var led1;
      var led2;
      var led3;

      // Let's read the current LED state
      function initial_conditions() {
        var d = $.Deferred();

        setTimeout(function() {
          $.get('/leds/1',function(data){
            led1 = $.trim(data.split(':')[1]);
          });

          $.get('/leds/2',function(data){
            led2 = $.trim(data.split(':')[1]);
          });

          $.get('/leds/3',function(data){
            led3 = $.trim(data.split(':')[1]);
          });

          // console.log("Got my data now!");
          d.resolve();
        }, 1);
        return d.done();
      }

      // Let's initialize our LED vars to the current LED state "ON"/"OFF"
      function led_status() {
        var d = $.Deferred();

        setTimeout(function() {
          if (led1 === '0') {led1 =  "OFF";} else {led1 =  "ON";}
          if (led2 === '0') {led2 =  "OFF";} else {led2 =  "ON";}
          if (led3 === '0') {led3 =  "OFF";} else {led3 =  "ON";}
          d.resolve();

          console.log("RED:",led1);
          console.log("GRN:",led2);
          console.log("BLU:",led3);
        }, 200);
        return d.promise();
      }

      // make sure to intialize synchronously (10ms back to back)
      initial_conditions().then(led_status);

      // The button click functions run async in the browser
      $('#red_led_btn').click(function() {
        if (led1 === "OFF") {
          led1 = "ON";
        } else {
          led1 = "OFF";
        }
        var params = 'led=1&state=' + led1;
        console.log('LED Command with params:' + params);
        $.post('/ledcmd', params, function(data, status) {
          console.log("Data: " + data + "\nStatus: " + status);
        });

      });

  $('#grn_led_btn').click(function() {
        if (led2 === "OFF") {
          led2 = "ON";
        } else {
          led2 = "OFF";
        }
        var params = 'led=2&state=' + led2;
        console.log('LED Command with params:' + params);
        $.post('/ledcmd', params, function(data, status) {
          console.log("Data: " + data + "\nStatus: " + status);
        });

      });

  $('#blu_led_btn').click(function() {
        if (led3 === "OFF") {
          led3 = "ON";
        } else {
          led3 = "OFF";
        }
        var params = 'led=3&state=' + led3;
        console.log('LED Command with params:' + params);
        $.post('/ledcmd', params, function(data, status) {
          console.log("Data: " + data + "\nStatus: " + status);
        });

      });
  });
  </script>

  <div class="container panel">
    <div class="container well well-sm">
      <h3 id='title'>Lab 3 GPIO Server Sent Events</h3>
    </div>

    <div class="container well">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <h4 class="gpio">Switch</h4>
        </div>
        <div class="col-sm-3 switch">
          <h4><span id="switch" class="label label-default">&#9759</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO27]</h4></div>
        <div class="col-sm-2"></div>
      </div>

      <!-- LED: RED -->
      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-3 led_button">
          <button type='button' id="red_led_btn" class="btn btn-md btn-default">Toggle LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="red_led_label" class="label label-default">&#9728</span></span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO18]</h4></div>
        <div class="col-sm-2"></div>
      </div>
      <!-- LED: GREEN -->
      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-3 led_button">
          <button type='button' id="grn_led_btn" class="btn btn-md btn-default">Toggle LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="grn_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO13]</h4></div>
        <div class="col-sm-2"></div>
      </div>
      <!-- LED: BLUE -->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 led_button">
          <button type='button' id="blu_led_btn" class="btn btn-md btn-default">Toggle LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="blu_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO23]</h4></div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

      <script type="text/javascript">
        /*start executing only after document has loaded */
        $(document).ready(function() {
          /*establish global variables for LED status */
          var led1;
          var led2;
          var led3;

          var iotSource = new EventSource("{{ url_for('myData') }}");
          /*intercept the incoming states from SSE */
          iotSource.onmessage = function(e) {
            var params = e.data.split(' ');
            updateSwitch(params[0]);
            updateLeds(1, params[1]);
            updateLeds(2, params[2]);
            updateLeds(3, params[3]);
          };

          /* update the Switch based on its SSE state monitor */
          function updateSwitch(switchValue) {
            if (switchValue === '1') {
              $('#switch').text('ON');
            } else if (switchValue === '0') {
              $('#switch').text('OFF');
            }
          }
          /* update the LEDs based on their SSE state monitor */
          function updateLeds(ledNum, ledValue) {
            if (ledNum === 1) {
              if (ledValue === '1') {
                $('#red_led_label').text('ON');
                led1 = "ON";
              } else if (ledValue === '0') {
                $('#red_led_label').text('OFF');
                led1 = "OFF";
              }
            } else if (ledNum === 2) {
              if (ledValue === '1') {
                $('#grn_led_label').text('ON');
                led2 = "ON";
              } else if (ledValue === '0') {
                $('#grn_led_label').text('OFF');
                led2 = "OFF";
              }
            } else if (ledNum === 3) {
              if (ledValue === '1') {
                $('#blu_led_label').text('ON');
                led3 = "ON";
              } else if (ledValue === '0') {
                $('#blu_led_label').text('OFF');
                led3 = "OFF";
              }
            }
          }
        });
      </script>
</body>
</html>
